@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-card {
    width: 320px;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    padding: 15px 15px 40px 15px;
    text-align: center;
}

.card-image {
    width: 18rem;
    height: 18rem;

}

.qr-card, .card-image {
    border-radius: 10px;
}

.title {
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    color: hsl(218, 44%, 22%);
}

.subtitle {
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
    color: hsl(220, 15%, 55%);
}

.card-text {
    padding: 0 20px;
}